$circle-size: 500px;



body {
  font-family: 'Shippori Mincho', serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  &.loading {
    overflow: hidden;

    .loading-msg {
      display: flex;
    }

    main {
      visibility: hidden;
    }
  }
}

.loading-msg {
  background-color: black;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 200;
  justify-content: center;
  align-items: center;
}

section {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  position: absolute;

  &.hero {
    align-items: center;
    color: black;
    background-color: white;
    justify-content: flex-end;
    overflow: visible;
    height: 88vh;
    z-index: 2;


    p {
      font-size: 18px;
      text-align: right;
      display: block;
      width: 60vw;
      margin-right: 40px;
      position: relative;
      z-index: 1;

      @media screen and (min-width: 600px) {
        font-size: 25px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 35px;
      }
    }

  }

  &.subtitle {
    height: 100vh;
    flex-direction: column;
    z-index: 1;

    h2 {
      font-size: 18vw;
      text-align: center;
      overflow: hidden;
      margin: 0;
      margin-top: -3%;
    }

    #circle {
      background-color: white;
      border-radius: $circle-size;
      top: 20vh;
      height: $circle-size;
      position: absolute;
      width: $circle-size;
      transform-origin: center;

    }

    .grid {
      width: 90vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 13vw;
      margin: 0 auto;
      position: absolute;
      left: 5vw;

      .column {
        height: 90vh;
        background: rgba(255, 0, 0, 0.5);
      }
    }
  }

  .goomba {
    width: 200px;
    left: calc(50vw - 100px);
    position: absolute;
    opacity: 0;
  }
}

// .gs-dev-tools {
//   z-index: 100;
// }




/*****************************/
/*****************************/
/***       CSS Loader      ***/
/*****************************/
/*****************************/
// Taken from https://loading.io/css/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
