$circle-size: 500px;



body {
  // font-family: 'Shippori Mincho B1', serif;
  font-family: 'Shippori Mincho', serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

section {
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  position: absolute;

  &.hero {
    align-items: center;
    color: black;
    background-color: white;
    justify-content: flex-end;
    // position: relative;
    overflow: visible;
    height: 90vh;
    z-index: 2;


    p {
      font-size: 35px;
      text-align: right;
      display: block;
      width: 60vw;
      margin-right: 40px;
      position: relative;
      z-index: 1;
    }

  }

  &.subtitle {
    height: 100vh;
    flex-direction: column;
    z-index: 1;

    h2 {
      font-size: 18.5vw;
      text-align: center;
      overflow: hidden;
      margin: 0;
      margin-top: -3%;
    }

    #circle {
      background-color: white;
      border-radius: $circle-size;
      top: 30%;
      height: $circle-size;
      position: absolute;
      width: $circle-size;
      transform-origin: center;

    }

    .grid {
      width: 90vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10vw;
      margin: 0 auto;
      position: absolute;
      left: 5vw;
      top: 63%;

      .column {
        height: 70vh;
        background: rgba(255,0,0,0.5);
      }
    }
  }
}
