body {
  font-family: 'Shippori Mincho', serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body.loading {
  overflow: hidden;
}

body.loading .loading-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.loading main {
  visibility: hidden;
}

.loading-msg {
  background-color: black;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
}

section.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: visible;
  height: 88vh;
  z-index: 2;
}

section.hero p {
  font-size: 18px;
  text-align: right;
  display: block;
  width: 60vw;
  margin-right: 40px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  section.hero p {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  section.hero p {
    font-size: 35px;
  }
}

section.subtitle {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

section.subtitle h2 {
  font-size: 18vw;
  text-align: center;
  overflow: hidden;
  margin: 0;
  margin-top: -3%;
}

section.subtitle #circle {
  background-color: white;
  border-radius: 500px;
  top: 20vh;
  height: 500px;
  position: absolute;
  width: 500px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.subtitle .grid {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 13vw;
  margin: 0 auto;
  position: absolute;
  left: 5vw;
}

section.subtitle .grid .column {
  height: 90vh;
  background: rgba(255, 0, 0, 0.5);
}

section .goomba {
  width: 200px;
  left: calc(50vw - 100px);
  position: absolute;
  opacity: 0;
}

/*****************************/
/*****************************/
/***       CSS Loader      ***/
/*****************************/
/*****************************/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */